@import './Variables.module.scss';

@media screen and (min-width: 768px) {
    .profile_div{
        border-bottom: 1px solid $border-color;
        padding-bottom: 10px;
    }
}

.slider_parent{
    border: 1px solid #dddd;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
}

.section_3{
    // padding: 0 20px 10px 20px;
    .slider_parent{
        padding: 10px 10px 25px 10px;
    }
}

.cmt_btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    span{
        font-size: $font-13;
    }
}