@tailwind base;
@tailwind components;
@tailwind utilities;

@import './Variables.module.scss';

@layer components {
  .primary_btn{
    background: $primary-color;
    border-radius: 3px;
    color: $white-color;
  }

  .border {
    border: 1px solid $border-color;
    // border-radius: 5px;
  }

  .border_top{
    border-top: 1px solid $border-color;
  }


  @screen lg {
    // Top 3 Stories
    // py-5
    .top3{
      @apply flex gap-[15px] bg-[#F8F9FA] p-[15px_0px]
    }
    .top_title{
      @apply text-[14px] font-medium leading-[17.62px] line-clamp-2
    }
    .top_primary_text{
      @apply text-[12px] uppercase font-semibold text-[#e21b22] line-clamp-1
    }

    .title {
      @apply text-[14px] font-semibold leading-[18.62px] line-clamp-2;
      
    }

    .sub_title {
      font-size: $font-13;
      font-weight: 400;
      // line-height: 1.3;
      line-height: 18.62px;
      color: $secondary-color;
    }

    .hashtags {
      font-size: $font-12;
      // color: $secondary-color;
      color: #121212;
    }
  }

  @screen md {
     // Top 3 Stories
    .top3{
      @apply flex  overflow-auto bg-[#F8F9FA] py-[10px];
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .top_title{
      @apply text-[11px] font-medium leading-[17.62px] line-clamp-2
    }
    .top_primary_text{
      @apply text-[12px] uppercase font-semibold text-[#e21b22] line-clamp-1
    }


    .title {
      @apply text-[13px] font-semibold leading-[1.7]
      
    }
    .sub_title {
      font-size: $font-12;
      font-weight: 400;
      // line-height: 1.3;
      line-height: 17.62px;
      // color: $secondary-color;
      color: #121212;
    }

    .hashtags {
      font-size: $font-11;
      // color: $secondary-color;
      color: #121212;
    }

    .no_scroll {
      @apply flex gap-[15px] overflow-auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.flex_70{
  flex: 0 0 calc(70% - 15px);
  width: calc(70% - 15px);
}

.flex_30{
  flex: 0 0 calc(30% - 15px);
  width: calc(30% - 15px);
}

.flex-33{
  flex: 0 0 calc(33.333% - 15px);
  width: calc(33.333% - 15px);
}

.flex-40{
  flex: 0 0 calc(40% - 15px);
  width: calc(40% - 15px);
}



.none{
  .dots{
    bottom: 30px !important;
  }
}









.gray_color{
  color: $secondary-color;
}

html,
body {
  overflow-x: hidden;
  // font-family: 'Poppins', sans-serif !important;
  p,
  span {
    font-size: $font-16;
    color: $secondary-color;
    // line-height: 28px;
  }

  img {
    object-fit: cover;
    // width: auto;
    // height: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-color;
}

.font14_bold {
  font-size: $font-14;
  font-weight: 600;
}

.font15_bold {
  font-size: $font-15;
  font-weight: 600;
}

.font16_bold {
  font-size: $font-16;
  font-weight: 600;
}

.slick-track {
  display: flex !important;
  gap: 10px !important;
}

.slick-dots {
  bottom: -5px !important;
}

.slick-dots li.slick-active button:before {
  color: red !important;
  // background: red;
}

/* .slick-slide {
    padding-right: 10px;
  } */

.slick-slide:last-child {
  padding-right: 0;
}

.slick-slide img {
  display: block;
}

.card {
  .slick-slide {
    // width: 285px !important;
    width: 247px !important;
  }

  .slick-dots {
    bottom: -25px !important;
  }
}

.slick-slide {
  width: 300px !important;
}



.books .slick-dots {
  bottom: -30px !important;
}


.relative-pos {
  position: relative !important;
  height: 180px !important;
}

.right-arrow {
  width: 12px;
  position: relative;
  height: 18px;
  top: 0px;
}

/* .slick-list {
    margin: 0 15px;
  } */

.slick-prev {
  /* width: 50px;
    left: 0;
    top: 20%;
    position: absolute;
    height: 50px;
    background: tomato;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.slick-next {
  /* width: 50px;
    right: 0;
    top: 20%;
    position: absolute;
    height: 50px;
    background: tomato;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

// .slick-prev:focus,
// .slick-prev:hover,
// .slick-next:hover,
// .slick-next:focus {
//   color: transparent;
//   outline: none;
//   background: tomato;
// }
.head_title {
  font-size: 20px;
  font-weight: 600;
  color: #212121;
}

.under_line {
  color: red;
  width: 15px;
  border-top-width: 2px;
  margin-left: 2px;
}

.sticky_header {
  position: sticky;
  top: -2px;
  background: #fff;
  z-index: 10;
}

.primary_color {
  color: $primary-color;
}

.button_text_color {
  color: $primary-color;
}

.mega_title {
  // font-size: $font-20;
  font-weight: 600;
}

.gray-text {
  color: $gray-color-text;
}

.fnt_14 {
  font-size: $font-14;
  font-weight: 400;
}

.fnt_13 {
  font-size: $font-13;
}

.fnt_15 {
  font-size: $font-15 !important;
  font-weight: 500;
}

.fnt_12 {
  font-size: $font-12;
  font-weight: 400;
}






.pastel-bg-parent:nth-child(1) {
  background: #EEF8F9;
}

.pastel-bg-parent:nth-child(2) {
  background: #FFF5DD;
}

.pastel-bg-parent:nth-child(3) {
  background: #EEECFE;
}

.pastel-bg-parent:nth-child(4) {
  background: #FCF2F2;
}

.pastel-bg-parent:nth-child(5) {
  background: #E5ECFF;
}

// .benefitcard {
//   background: #EEF8F9;
// }

// .benefitcard:nth-child(2) {
//   background: #FFF5DD;
// }

// .benefitcard:nth-child(3) {
//   background: #EEECFE;
// }

// .benefitcard:nth-child(4) {
//   background: #FCF2F2;
// }

// .benefitcard:nth-child(5) {
//   background: #FFF5DD;
// }

// .benefitcard:nth-child(6) {
//   background: #EEF8F9;
// }

// .benefitcard:nth-child(7) {
//   background: #FCF2F2;
// }

// .benefitcard:nth-child(8) {
//   background: #EEECFE;
// }



.member-card {
border: 1px solid #fff;
  box-shadow: 0px 4.904330253601074px 29.425983428955078px 0px rgba(0, 0, 0, 0.06), 0px 3.923464298248291px 9.808660507202148px 0px rgba(0, 0, 0, 0.02), 0px 0.9808660745620728px 3.923464298248291px 0px rgba(0, 0, 0, 0.03);
}

.darkcolor {
  color: $dark-color2;
}

.member-button {
  background: #FFE7E7;
  color: $primary-color;
}

.member-button1 {
  background: transparent;
  color: $dark-color;
}

.member-button1.active {
  background: #E21B22;
  color: #fff;
}

.d__flex {
  display: flex !important;
  // align-items: center !important;
}

.faq_title {
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px 10px 0px;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.valuescard {
  background-color: #FFF5DD;
  min-height: 380px;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

//  .bg-red {
//   background-color: salmon;
//   color: white;
// }

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.p010 {
  padding: 0 10px;
}

.p030 {
  padding: 0 30px;
}

.p1030 {
  padding: 10px 30px;
}

.p {
  padding: 10px 30px 0 0;
}

.p03015 {
  padding: 15px 30px;
}

.navigation_c {
  color: #111111;
}

// .flex_70 {
//   flex: 0 0 calc(70% - 10px);
// }

// .flex_20 {
//   flex: 0 0 calc(20% - 10px);
// }

// .flex_25 {
//   flex: 0 0 calc(25% - 15px);
// }



input {
  border: 1px solid $border-color;

  &:focus {
    outline: none;
  }
}

.border_bottom {
  border-bottom: 1px solid $border-color;
}



.border_left {
  border-left: 1px solid $border-color;
}

.border_right {
  border-right: 1px solid $border-color;
}

.border_bottom_white {
  border-bottom: 1px solid $white-color;
}

.eventeam {
  background-color: #EAF0F6;
}

.evenabout {
  background-color: #F8F8F8;
}

.eventeam .flex,
.evenabout .flex {
  flex-direction: row-reverse;
}





//Trending
.trendingList {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  flex: 0 0 auto;
  padding: 7px 10px;
}

// Footer
.footer {
  border-top: 1px solid $border-color;

  .address {
    font-weight: 400;
    color: $secondary-color;
  }

  .section_2 {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    gap: 15px;

    .list_div {
      flex: 0 0 calc(20% - 15px);
      padding-bottom: 20px;

      .title {
        font-size: $font-18;
        font-weight: 600;
        padding-bottom: 5px;
      }

      .sub_title {
        line-height: 2;
      }
    }
  }

}

.flex_50 {
  flex: 0 0 calc(50% - 10px);
}

.copy_write {
  border-top: 1px solid $border-color;
  text-align: center;
  padding: 10px 0;
  font-size: $font-13;
  color: $gray-color-text;
}

.subscribe_input {
  position: absolute;
  top: 88px;
  left: 70px;
  font-size: $font-14;
  background: #fbfbfd;
  // border-bottom: 1px dotted #898f9447;

  &:focus {
    outline: none;
  }
}

.subscribe {
  background: $primary-color;
  color: $white-color;
  position: relative;
  bottom: 25px;
  padding: 5px;
  border-radius: 5px;
  width: 125px;
}

@media screen and (max-width:768px) {

  .w_100 {
    width: 100%;
  }

  .eventSlide{
    .react-multi-carousel-item{
      width: 353px !important;
    }
  }

  .latestNews_slider{
    .dots{
      bottom: unset !important;
    }
  }


  .photo{
    .react-multi-carousel-item{
      width: 178px !important;
    }
    .dots{
      // bottom: 65px !important;
      display: none !important;
    }
  }

  .research{
    .react-multi-carousel-item{
      // width: 163px !important;
      width: 354px !important;
    }
  }

  // .none{
  //   .dots{
  //     bottom: 30px !important;
  //   }F
  // }
  
  .leaders{
    .react-multi-carousel-list{
      height: 350px !important;
    }
    .react-multi-carousel-item{
      width: 288px !important;
    }

    .dots{
      bottom: 0px !important;
    }
  }
  

  
  // .photo{
  //   .react-multi-carousel-item{
  //     width: 178px !important;
  //   }
  // }
  

  .flex_70,.flex_30,.flex-33,.flex-40,.flex-20{
    flex: 0 0 calc(100% - 10px);
    width: calc(100% - 0px);
  }
  
  // .flex_30{
  //   flex: 0 0 calc(30% - 15px);
  //   width: calc(30% - 15px);
  // }
  
  // .flex-33{
  //   flex: 0 0 calc(33.333% - 15px);
  //   width: calc(33.333% - 15px);
  // }
  
  // .flex-40{
  //   flex: 0 0 calc(40% - 15px);
  //   width: calc(40% - 15px);
  // }
  // .flex-20{
  //   flex: 0 0 calc(20% - 15px);
  //   width: calc(20% - 15px);
  // }

  .irVideos {
    display: flex;
    gap: 15px;
    overflow: scroll;
    scroll-behavior: smooth;

    .ir_div {
      flex: 0 0 calc(80% - 10px);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .primeSlide {
    .react-multi-carousel-item {
      width: 263px !important;
    }

    .react-multi-carousel-list {
      min-height: 375px !important;
    }

    .react-multi-carousel-dot-list {
      bottom: 0 !important;
    }
  }

  .title_div {
    .title {
      font-size: $font-15;
      font-weight: 600;
      text-transform: capitalize;
    }

    .line {
      width: 15px;
      height: 2px;
      background: $primary-color;
      border-radius: 5px;
    }
  }

  .react-multi-carousel-track {
    gap: 10px !important;
    // min-height: 370px !important;
  }


  .eventeam .flex {
    flex-direction: column-reverse;
  }

  .evenabout .flex,
  .oddabout .flex {
    flex-direction: column;
  }

  .p30 {
    padding: 15px;
  }

  // .flex-row {
  //   flex-direction: column;
  // }
  .rodal-dialog {
    height: 100vh !important;
    width: 90% !important;
  }

  .mobile-flex {
    display: block;
    width: 100%;
  }

  .latestNews_slider {
    .react-multi-carousel-item {
      // width: 200px !important;
      // width: 281px !important;
      width: 210px !important;
    }
  }

  .popright {
    .rodal {
      .rodal-dialog {
        // left: 876px;
        left: 0% !important;
        height: calc(90vh - 0px) !important;
      }
    }
  }

  .primary_text {
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $font-10;
    letter-spacing: 0.5px;
  }

  .secondary_text {
    color: $secondary-color;
    font-size: $font-10;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .alert-popup {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceUpIn 1s ease;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    height: 35%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .commentPopup {
    height: calc(85vh - 90px);
    overflow: auto;
    margin-top: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .categorySlide {
    .react-multi-carousel-item {
      // width: 190px !important;
      // width: 180px !important;
      width: 162px !important;
    }

    // .react-multiple-carousel__arrow--left{

    // }
  }

  .beautySlide {
    .react-multi-carousel-item {
      // width: 280px !important;
      width: 355px !important;
    }

    .react-multi-carousel-dot-list {
      bottom: 0 !important;
    }

    .react-multi-carousel-list {
      min-height: 150px !important;
    }
  }


  // .title {
  //   font-size: $font-14;
  //   font-weight: 600;
  //   // line-height: 1.3;
  //   line-height: 21.91px;
  // }

  .card-title {
    font-size: $font-13;
    color: $dark-color;
    font-weight: 600;
    line-height: 1.4;
  }

  // .sub_title {
  //   font-size: $font-13;
  //   font-weight: 400;
  //   // line-height: 1.3;
  //   line-height: 17.62px;
  //   color: $secondary-color;
  // }

  .eventCards {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .event-title {
    font-size: $font-14;
    color: $dark-color;
    line-height: 1.4;
  }

  .light_text {
    font-size: 11px;
    color: $secondary-color;
  }
}




@media screen and (min-width:768px) {

  .benefitcard{
    .content_{
     min-height: 104px;
    }
  }

  .flex-20{
    flex: 0 0 calc(20% - 15px);
    width: calc(20% - 15px);
    padding: 40px 0;
  }

  .photo{
    .react-multi-carousel-item{
      // width: 178px !important;
      width: 242px !important;
    }
    .dots{
      bottom: 30px !important;
      // bottom: 45px !important;
    }
  }

  .leaders{
    .react-multi-carousel-item{
      // width: 289px !important;
      width: 214px !important;
    }
  }

  .research{
    .react-multi-carousel-item{
      // width: 163px !important;
      width: 221px !important;
    }
  }

  .w_30 {
    width: calc(30% - 20px);
  }

  .light_text {
    font-size: $font-12;
    color: $secondary-color;
  }

  .w_70 {
    width: calc(70% - 20px);
  }

  .event-title {
    font-size: $font-16;
    color: $dark-color;
  }

  .primeSlide {
    .react-multi-carousel-item {
      width: 231px !important;
    }
  }

  .beautySlide {
    .react-multi-carousel-item {
      width: 280px !important;
    }
  }

  .title_div {
    .title {
      font-size: $font-18;
      font-weight: 600;
      text-transform: capitalize;
      line-height: unset;
    }

    .line {
      width: 15px;
      height: 2px;
      background: $primary-color;
      border-radius: 5px;
    }
  }

  .container {
    max-width: 100% !important;
  }

  .latestNews_slider {
    .react-multi-carousel-item {
      width: 250px !important;
    }
    .dots{
      bottom: 5px !important;
    }
  }

  .react-multi-carousel-track {
    gap: 10px !important;
    min-height: 370px !important;
  }
  .zero-gap  .react-multi-carousel-track{
    gap: 0px !important;
  }

  .popright {
    .rodal {
      .rodal-dialog {
        // left: 876px;
        padding: 0;
        left: 65%;
        height: calc(100vh - 0px) !important;
    }
    .rodal-close{
      color: #fff;
      top: 25px;
    }
    .rodal-close:before ,.rodal-close:after{
      background: #fff;
    }
  }
  }
  // .title {
  //   font-size: $font-14;
  //   font-weight: 600;
  //   // line-height: 1.3;
  //   line-height: 21.91px;
  // }

  // .sub_title {
  //   font-size: $font-14;
  //   font-weight: 400;
  //   // line-height: 1.3;
  //   line-height: 18.62px;
  //   color: $secondary-color;
  // }

  .rodal-dialog {
    height: 95vh !important;
    // width: 50% !important;
    width: 35% !important;
  }

  .primary_text {
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $font-10;
    letter-spacing: 0.5px;
  }

  .secondary_text {
    color: $secondary-color;
    font-size: $font-10;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .alert-popup {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceUpIn 1s ease;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    height: 25%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .commentPopup {
    height: calc(100vh - 100px);
    overflow: auto;
    margin-top: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .categorySlide {
    .react-multi-carousel-item {
      // width: 217px !important;
      width: 248px !important;
    }

    // .react-multiple-carousel__arrow--left{

    // }
  }

  .card-title {
    font-size: $font-14;
    color: $dark-color;
    font-weight: 600;
    line-height: 1.4;
  }

  // .w_60 {
  //   width: 60%;
  // }

}

// Image Group
.imageGroup {
  .imageContainer {
    background: #e0e0e0;
    display: grid;
    place-items: center;
    border-radius: 5px;

    .image {
      // object-fit: contain;
      // height: 350px;
      // width: 175px;
      // mix-blend-mode: color-burn;
      border: none;
    }
  }
}

.popBtn:focus{
  outline: none !important;
}
.popBtn{
  width: 8px;
}

button:focus{
  outline: none !important;
}

//Trending Box
.trending {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

//Multi Carousel
.react-multi-carousel-list {
  // min-height: 370px !important;
}



.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

.react-multiple-carousel__arrow--left::before {
  color: $dark-color !important;
}

.react-multiple-carousel__arrow--right::before {
  color: $dark-color !important;
}

.react-multiple-carousel__arrow {
  background: $white-color !important;
  min-width: 38px !important;
  min-height: 38px !important;
  z-index: 0 !important;
  bottom: 60% !important;
  border-radius: 0 !important;
}

.react-multiple-carousel__arrow::before {
  font-size: 14px !important;
}

.dots {
  background: #fff;
  position: absolute;
  // inset: 0;
  bottom: 60px !important;
  text-align: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  background: transparent;
  padding: 0;
  justify-content: center;

  button {
    border: 1px solid $border-color;
    background: $border-color;
    height: 7px !important;
    width: 7px !important;
    border-color: $border-color !important;
  }
}

.react-multi-carousel-dot--active {
  button {
    background: $primary-color !important;
    border-color: $primary-color !important;

  }
}





// Events
.primary_outline {
  border: 1px solid $primary-color;
  color: $dark-color;
  background: $white-color;
  // height: 45px;
  text-transform: capitalize;
  // width: 220px;
  border-radius: 5px;
  text-align: center;
}

.primary_button {
  border: 1px solid $primary-color;
  color: $white-color;
  background: $primary-color;
  text-transform: capitalize;
  // height: 45px;
  border-radius: 5px;
  // width: 220px;
  text-align: center;
}

// IRPrime
.customScroll {

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $border-color;
    border-radius: 2px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border: 2.067px solid $primary-color;
    border-radius: 2px;
  }

  /* Handle on hover */
  // ::-webkit-scrollbar-thumb:hover {
  //   background: #b30000; 
  // }
}

// YT video
.ytp-chrome-top {
  display: none !important;
}

// .primary_btn {
//   background: $primary-color;
//   border-radius: 3px;
//   color: $white-color;
// }

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .container {
    // max-width: 1452px !important;
    max-width: 1300px !important;
    margin: auto;
    width: 100%;
  }


}

.activeBorder {
  border: 1px solid $primary-color;
}

.seeMore {
  .img {
    margin-left: 0;
    transition: margin-left ease .5s;
    cursor: pointer;

  }
}

.seeMore:hover {
  .img {
    margin-left: 10px;
  }
}

// NavBar
.sidebar {
  translate: -290px 0px;
  transition: all .5s;
  width: 0;
}

.sideActive {
  translate: 0;
  width: 100%;
  z-index: 1000;
  top: 0;
  height: 100%;
  // &::backdrop{
  //   background: #111111;
  // }
}
.visible{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.9s;
}


// Tabs
.tab {
  .tablink {
    font-size: $font-15;
    font-weight: 600;
    color: $dark-color;
  }
}

.tabActive {
  // .tablink{
  color: $primary-color;
  // }
  border-bottom: 2px solid $primary-color;
}

// .modalContainer{
//   width: 0;
//   height: 0;
//   // visibility: hidden;
//   transition: all .5s ease;
// }

// .modalActive{
//   width: 50%;
//   height: 50vh;
//   // visibility: visible;
//   transition: all .8s ease;
// }

// Alert Popup
@keyframes bounceUpIn {
  0% {
    transform: translateX(50%);
  }

  // 80% {
  //   transform: translateY(-10%);
  // }
  100% {
    transform: translateX(-50%);
  }
}



.contents {
  /* Add your content styling here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;

  .ql-editor {
    width: 100% !important;
  }

}
.prime-article:after{
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0) -7%,#fff);
  bottom: 0;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  visibility: visible;
  width: 100%;
  height: 150px;
}


// Alert box sub
@keyframes mymove {
  0% {
    top: -200px;
    width: 100%;
  }

  100% {
    top: 50%;
    background: yellow;
    width: 100%;
  }
}

.modal {
  &::-webkit-scrollbar {
    display: none;
  }
}



// sortBy
.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20%);
  transition: all .5s;
}

.dropdowns {
  transition: all .5s;
}

.dropdown-menu-active {
  opacity: 1;
  // padding: 5px 10px;
  border: 1px solid $border-color;
  visibility: visible;
  transform: translateY(0%);
  line-height: 2.5;
  margin-top: 10px;
  position: relative;
  z-index: 999;
  width: 130px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);

  p {
    font-size: 14px;
  }
}

// .dropdown:hover .dropdown-menu{
//   opacity: 1;
//   visibility: visible;
//   transform: translateY(0%);
// }

.activeSort {
  background: #ddd;
}

.card_member {
  border-radius: 13.55px;
  border: 1.694px solid #F5F6FA;
  background: #FFF;
  box-shadow: 0px 4.234281539916992px 25.405691146850586px 0px rgba(0, 0, 0, 0.06), 0px 3.387425422668457px 8.468563079833984px 0px rgba(0, 0, 0, 0.02), 0px 0.8468563556671143px 3.387425422668457px 0px rgba(0, 0, 0, 0.03);
  padding: 30px;
}


// placeholder
.placeholder {
  display: flex;
  // flex-wrap: wrap;
  overflow: auto;
  height: 300px;
  gap: 15px;
  // margin: 20px 0;

  &::-webkit-scrollbar {
    display: none;
  }

  // justify-content: space-between;
  .card {
    height: 290px;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33.333% - 10px);
    border: 1px solid $border-color;
    border-radius: 10px;

    // div {
    //   flex: 0 0 calc(80% - 5px);

      .img {
        height: 180px;
        width: 100%;
        border-radius: 10px 10px 0 0 ;
      }
    // }
  }
}





// Skeleton Loader
.skeleton-blog {
  margin-bottom: 2em;
  animation: scale 4s infinite;
}

.skeleton-avatar {
  background: #E5E4E2;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.skeleton-author {
  background: #E5E4E2;
  height: 30px;
  width: 150px;
  margin-left: 1rem;
  border-radius: 6px;
}

.skeleton-image {
  height: 200px;
  width: 320px;
  border-radius: 6px;
  background: #E5E4E2;
  margin-top: 10px;
}

.skeleton-footer {
  height: 30px;
  width: 280px;
  border-radius: 6px;
  background: #E5E4E2;
  margin-top: 10px;
}

.skeleton-blog {
  animation: scale 4s infinite;
}

@keyframes scale {
  0% {
    transform: scale(100%)
  }

  /* 100% {transform: scale(1)} */
}

.overlay {
  // position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}


/* Dropdown.module.css */
.dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.active_border {
  border-color: $primary-color;
}

.custom-select .react-select__control {
  border: none !important;
  /* Remove borders */
  box-shadow: none !important;
  /* Remove any box shadow */
}
.nav-item.active{
  color: #e21b22 !important;
}

.image-item {
  padding: 10px;
}

// .container-with-dots {
//   margin-top: 20px;
//   padding-bottom: 10px;
// }


@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container{
    padding: 0px 15px !important;
  }
  .navigation_c{
    font-size: 14px;
  }
}

.active_member_ship:hover{
  border:1px solid $primary-color !important;
  .member-button_ {
   background: $primary-color !important;
   color: #fff;
 }
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.hiding{
  display: none
}

.confirmMembership{
  .rodal-dialog{
    padding: 0 !important;
  }
  .rodal-close {
    top: 11px !important;
    right: 16px;
    width:14px !important;
    height: 14px !important;
  }
}

.order_detail{
  .rodal-dialog{
    padding: 0 !important;
  }
  .rodal-close {
    top: 11px !important;
    right: 16px;
    width:14px !important;
    height: 14px !important;
  }
}

@media screen and (max-width: 768px){
  .order_detail{
    .rodal-dialog{
      width: 100% !important;
    }
  }
  .react-multi-carousel-dot-list {
   display: none !important;
  }
  .zero-gap  .react-multi-carousel-track{
    gap: 0px !important;
  }
}

.mouse{
  cursor: pointer;
}
.comment .rodal-dialog{
  max-height: 450px!important;
}
.success .rodal-dialog{
  max-height: 150px!important;
}
textarea {
  resize: none;
}
input:focus, textarea:focus, select:focus{
  outline: #e21b22;
}

.innertag{
  p,span,a{
    font-size: 13px !important;
  }
}