@import './Variables.module.scss';

//List
.list{
    .list_img{
        border-radius: 5px;
    }
    .list_title{
        font-size: $font-15;
        font-weight: 600;
    }
    .list_content{
        // padding-top: 10px;
        .list_sub_title{
            font-size: $font-14;
        }
        .list_red_text{
            color: $primary-color;
            font-weight: 600;
            font-size: $font-13;
        }
    }
}

// Card
.card{
    border-radius: 10px;
    .card_img{
        height: 160px;
        width: 321px;
    }
    
    .card_content{
        .card_title{
            font-size: $font-15;
            font-weight: 600;
        }
        // padding-top: 10px;
        .card_sub_title{
            font-size: $font-14;
        }
        .card_red_text{
            color: $primary-color;
            font-weight: 600;
            font-size: $font-13;
        }
    }

}