@import './Variables.module.scss';

.list_parent{
    border: 1px solid $border-color;

}

.mb30{
    margin-bottom: 30px !important;
    // width: 300px !important;
}

.primary_text{
    font-size: $font-13;
}

.secondary_text{
    font-size: $font-12;
}

.title{
    font-size: $font-13;
    padding-top: 5px;
}

// Cards
.cards{
    border: 1px solid $border-color;
    // height: 310px;
    // height: 280px;
    border-radius: 10px;
    margin-bottom: 10px;
    img{
        border-radius: 10px 10px 0 0;
    }
    .card_content{
        padding: 10px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }
}

.optionsBtn{
   box-shadow: 0.8042353987693787px 9.650824546813965px 24.127059936523438px -8.042353630065918px #00000026;
    
}